In [1]:
#importing all the necessary libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
#pandas dataframe
df = pd.read_csv("career-data.csv")
df.head()

,Age,Gender,Educational Background,Extraversion,Agreeableness,Conscientiousness,Openness to Experience,Emotional Stability,Values/Beliefs,Aptitude Test,Personality,Career Outcome
0,16,Male,11th Class,70,75,80,85,70,75,85,dependable,Software Developer
1,15,Female,10th Class,75,80,85,75,70,80,90,serious,Data Scientist
2,16,Male,11th Class,70,75,80,85,70,75,72,responsible,UX Designer
3,15,Female,10th Class,75,80,85,75,70,80,78,extraverted,Financial Analyst
4,16,Male,11th Class,70,75,80,85,70,75,85,lively,Marketing Specialist

In [3]:
#making a copy
dataset = df.copy()

In [4]:
labelencoder = LabelEncoder()

In [5]:
#converting into categorical values
categorical_features = [feature for feature in dataset.columns if dataset[feature].dtype == 'O']
len(categorical_features)

4

In [6]:
for feature in categorical_features:
    dataset[feature] = labelencoder.fit_transform(dataset[feature])

dataset.head()

,Age,Gender,Educational Background,Extraversion,Agreeableness,Conscientiousness,Openness to Experience,Emotional Stability,Values/Beliefs,Aptitude Test,Personality,Career Outcome
0,16,1,1,70,75,80,85,70,75,85,0,46
1,15,0,0,75,80,85,75,70,80,90,4,14
2,16,1,1,70,75,80,85,70,75,72,3,52
3,15,0,0,75,80,85,75,70,80,78,1,20
4,16,1,1,70,75,80,85,70,75,85,2,34

In [7]:
# forming a separate list for all the categories of career choices
data = df.iloc[:90,:-1].values
label = df.iloc[:90,-1]

In [8]:
orignal=label.unique() 
label=label.values
label2 = labelencoder.fit_transform(label)
y=pd.DataFrame(label2,columns=["ROLE"])
numeric=y["ROLE"].unique() 
categorized_data = pd.DataFrame({'ROLE':orignal, 'Category':numeric})
print(categorized_data)

                                ROLE  Category
0                 Software Developer        46
1                     Data Scientist        14
2                        UX Designer        52
3                  Financial Analyst        20
4               Marketing Specialist        34
5            Human Resources Manager        26
6                    Product Manager        41
7                      Data Engineer        13
8                  Financial Planner        21
9           Administrative Assistant         0
10                 Marketing Manager        33
11                Research Scientist        45
12                  Graphic Designer        23
13                    Civil Engineer        10
14                Nurse Practitioner        36
15                Physical Therapist        38
16                              Chef         7
17                        Pharmacist        37
18                 Interior Designer        27
19           Environmental Scientist        17
20                      Psychologist        42
21                       Electrician        16
22                Aerospace Engineer         1
23                  Fashion Designer        19
24                      Veterinarian        53
25                 Investment Banker        29
26       Public Relations Specialist        44
27               Biomedical Engineer         6
28                  Dental Hygienist        15
29                     Event Planner        18
30                 Chemical Engineer         8
31                        Journalist        30
32                         Architect         2
33                      Art Director         3
34                  Technical Writer        51
35                           Chemist         9
36                     HR Consultant        24
37                       Logistician        31
38           Market Research Analyst        32
39               Physician Assistant        39
40                     Web Developer        54
41                      Data Analyst        12
42      Technical Support Specialist        50
43               Medical Illustrator        35
44          Healthcare Administrator        25
45              Supply Chain Manager        49
46                         Biologist         5
47  Artificial Intelligence Engineer         4
48             Public Health Analyst        43
49                      Statistician        48
50                   Software Tester        47
51             Clinical Psychologist        11
52                 Political Analyst        40
53                Forensic Scientist        22
54                Investment Analyst        28

In [9]:
y_labels = df['Career Outcome'].unique()
encoded = labelencoder.fit_transform(y_labels)

In [10]:
categorical_data = np.stack([y_labels,encoded],axis=1)

In [11]:
categorical_data

array([['Software Developer', 46],
       ['Data Scientist', 14],
       ['UX Designer', 52],
       ['Financial Analyst', 20],
       ['Marketing Specialist', 34],
       ['Human Resources Manager', 26],
       ['Product Manager', 41],
       ['Data Engineer', 13],
       ['Financial Planner', 21],
       ['Administrative Assistant', 0],
       ['Marketing Manager', 33],
       ['Research Scientist', 45],
       ['Graphic Designer', 23],
       ['Civil Engineer', 10],
       ['Nurse Practitioner', 36],
       ['Physical Therapist', 38],
       ['Chef', 7],
       ['Pharmacist', 37],
       ['Interior Designer', 27],
       ['Environmental Scientist', 17],
       ['Psychologist', 42],
       ['Electrician', 16],
       ['Aerospace Engineer', 1],
       ['Fashion Designer', 19],
       ['Veterinarian', 53],
       ['Investment Banker', 29],
       ['Public Relations Specialist', 44],
       ['Biomedical Engineer', 6],
       ['Dental Hygienist', 15],
       ['Event Planner', 18],
       ['Chemical Engineer', 8],
       ['Journalist', 30],
       ['Architect', 2],
       ['Art Director', 3],
       ['Technical Writer', 51],
       ['Chemist', 9],
       ['HR Consultant', 24],
       ['Logistician', 31],
       ['Market Research Analyst', 32],
       ['Physician Assistant', 39],
       ['Web Developer', 54],
       ['Data Analyst', 12],
       ['Technical Support Specialist', 50],
       ['Medical Illustrator', 35],
       ['Healthcare Administrator', 25],
       ['Supply Chain Manager', 49],
       ['Biologist', 5],
       ['Artificial Intelligence Engineer', 4],
       ['Public Health Analyst', 43],
       ['Statistician', 48],
       ['Software Tester', 47],
       ['Clinical Psychologist', 11],
       ['Political Analyst', 40],
       ['Forensic Scientist', 22],
       ['Investment Analyst', 28]], dtype=object)

In [12]:
categorized_data.set_index(["Category"], inplace = True)
categorized_data.sort_index(inplace = True)
categorized_data.head()

                                      ROLE
Category
0                 Administrative Assistant
1                       Aerospace Engineer
2                                Architect
3                             Art Director
4         Artificial Intelligence Engineer

In [13]:
#splitting data in
from sklearn.model_selection import train_test_split
x = dataset.drop(['Career Outcome'], axis = 1)
y = dataset['Career Outcome']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=10)

In [14]:
y.unique()

array([46, 14, 52, 20, 34, 26, 41, 13, 21,  0, 33, 45, 23, 10, 36, 38,  7,
       37, 27, 17, 42, 16,  1, 19, 53, 29, 44,  6, 15, 18,  8, 30,  2,  3,
       51,  9, 24, 31, 32, 39, 54, 12, 50, 35, 25, 49,  5,  4, 43, 48, 47,
       11, 40, 22, 28])

In [15]:
#model building
from sklearn.metrics import confusion_matrix,accuracy_score
from xgboost.sklearn import XGBClassifier
from sklearn import tree
from sklearn.metrics import confusion_matrix,accuracy_score

In [16]:
#decsion tree model
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test,y_pred)
print('Model accuracy score with Decision Tree', accuracy*100)

Model accuracy score with Decision Tree 7.4074074074074066

In [17]:
'''
#Xgboost model
model = XGBClassifier()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print('Model accuracy score with Decision Tree', accuracy*100)
'''

"\n#Xgboost model\nmodel = XGBClassifier()\nmodel.fit(X_train,y_train)\ny_pred = model.predict(X_test)\naccuracy = accuracy_score(y_test, y_pred)\nprint('Model accuracy score with Decision Tree', accuracy*100)\n"

In [18]:
import pickle
Pkl_file = 'career_model'
with open(Pkl_file, 'wb') as file:
    pickle.dump(clf,file)

In [19]:
Pkl_file = 'career_model'
with open(Pkl_file, 'rb') as file:
    classifier=pickle.load(file)