In [6]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [2]:
df = pd.read_csv("./Data/career_pred.csv")
df.head()

,Acedamic percentage in Operating Systems,percentage in Algorithms,Percentage in Programming Concepts,Percentage in Software Engineering,Percentage in Computer Networks,Percentage in Electronics Subjects,Percentage in Computer Architecture,Percentage in Mathematics,Percentage in Communication skills,Hours working per day,...,Interested Type of Books,Salary Range Expected,In a Realtionship?,Gentle or Tuff behaviour?,Management or Technical,Salary/work,hard/smart worker,worked in teams ever?,Introvert,Suggested Job Role
0,69,63,78,87,94,94,87,84,61,9,...,Prayer books,salary,no,stubborn,Management,salary,hard worker,yes,no,Database Developer
1,78,62,73,60,71,70,73,84,91,12,...,Childrens,salary,yes,gentle,Technical,salary,hard worker,no,yes,Portal Administrator
2,71,86,91,87,61,81,72,72,94,11,...,Travel,Work,no,stubborn,Management,work,hard worker,no,yes,Portal Administrator
3,76,87,60,84,89,73,62,88,69,7,...,Romance,Work,yes,gentle,Management,work,smart worker,yes,yes,Systems Security Administrator
4,92,62,90,67,71,89,73,71,73,4,...,Cookbooks,salary,no,stubborn,Management,work,hard worker,yes,yes,Business Systems Analyst

In [3]:
# extracting the values and labels
data = df.iloc[:49,:-1].values
label = df.iloc[:49,-1]

In [9]:
# converting categorical variables into numerical format
labelencoder = LabelEncoder()

In [10]:
original=label.unique() 
label=label.values
label2 = labelencoder.fit_transform(label)
y=pd.DataFrame(label2,columns=["ROLE"])
numeric=y["ROLE"].unique() 
y1 = pd.DataFrame({'ROLE':original, 'Associated Number':numeric})
print(y1)

                                         ROLE  Associated Number
0                          Database Developer                  5
1                        Portal Administrator                 14
2              Systems Security Administrator                 22
3                    Business Systems Analyst                  1
4                   Software Systems Engineer                 19
5               Business Intelligence Analyst                  0
6                     CRM Technical Developer                  3
7               Mobile Applications Developer                 12
8                                 UX Designer                 25
9                 Quality Assurance Associate                 17
10                              Web Developer                 26
11               Information Security Analyst                  9
12                       CRM Business Analyst                  2
13                          Technical Support                 24
14                            Project Manager                 16
15             Information Technology Manager                 11
16                         Programmer Analyst                 15
17                                Design & UX                  7
18                        Solutions Architect                 20
19                            Systems Analyst                 21
20             Network Security Administrator                 13
21                             Data Architect                  4
22                         Software Developer                 18
23                         E-Commerce Analyst                  8
24  Technical Services/Help Desk/Tech Support                 23
25             Information Technology Auditor                 10
26                           Database Manager                  6